/public/ueditor/php/upload/file
/public/storage/files/
/public/storage/images/
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/
storage/app/
storage/debugbar/

