.login_wrapper {
    max-width: 650px;
}
.captcha {
    width: 124px;
    height: 34px;
    border-radius: 4px
}
.alert-danger, .alert-error {
    color: #a94442;
    background-color: #f2dede;
}

table {
    margin-top: 6px !important;
}

#dataTables-example_filter > label > .input-sm {
    float:right !important;
    border-radius:5px !important;
}

#dataTables-example_filter > label {
    line-height:2;
}

.line-tab {
    width:142px;
    border:1px solid #ccc;
    text-align:center;
    border-right:0;
    margin:10px 10px 10px 0;
    float:right;
}

.line-tab a {
    display:inline-block;
    width:70px;
    height:18px;
    line-height:18px;
    font-size:12px;
    color:#000;
    border-right:1px solid #ccc
}
a.curr {
    background:#e8edf4;
    color:#005efb;
}
.page .pagination{
    margin-top: 0px;
    margin-bottom: 0px;
}
.modal-dialog-confirm {
    margin-top: 0px;
    width: 300px
}
.modal-content-confirm {
// border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.modal-footer-confirm {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination> .disabled > span:focus, .pagination > .disabled > span:hover {
    background-color: #fff !important;
    border-color: #ddd !important;
    color: #777 !important;
    cursor: not-allowed !important;
}

.pagination > li > a {
    background: none repeat scroll 0 0 #fafafa !important;
    color: #666 !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    color: #fff !important;
    cursor: default !important;
    z-index: 3 !important;
}
.paging_full_numbers {
    width: 100%;
}


.col-lg-12 {
    width: 100%;
}
.panel {
    width: 100%;
}
.panel-body {
    width: 100%;
}
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
div.dataTables_wrapper table{
}

.row {
    margin-top:6px;
}
.row > .pull-left > .dataTables_length {
    margin-left:20px;
    margin-top:3px;
}
.form-control {
    border-radius: 4px !important;
}
.dataTables_processing {
    border: 0;
}
a {
    color: #337ab7;
}
.label-left {
    text-align: left !important;
}
.search {
    float:right !important;
    width:30% !important;
    border-radius:4px 0 0 4px !important;
}
.search-in-line {
    border-radius:4px 0 0 4px !important;
    padding-right: -10px;
}

.upload-img-hidden
{
    opacity:0;
    filter:alpha(opacity=0);
    height: 200px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.upload-img
{
    height: 200px;
    width: 300px;
}
.login_content {
    text-shadow: 0 0 0 #fff !important;
}
div.dataTables_processing {
    top: 60px !important;
    margin-top: 0 !important;
}
.padding {
    padding-top: 8px;
}